header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* عشان يفضل فوق كل العناصر */

}

/* لو عايز الهيدر ما يقطعش المحتوى تحت منه */
body {
  padding-top: 80px; /* عدّل حسب ارتفاع الهيدر */
}

.navbar-brand img{
  height: 50px;        /* جربي 40 أو 50 حسب مناسب */
  width: auto;
  object-fit: contain;
}
