.side-Photo {
    margin: 0;
    padding: 0 ;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-Photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}