.new-arrival {
  padding: 2rem 0;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.featured-label {
  color: #db4444;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

/* ===== Grid العام ===== */
.arrival-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
}

/* ===== Main Product ===== */
.main-product {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.main-product img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* ===== Side Products ===== */
.side-products {
 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}

.side-product:nth-child(1) {
  grid-column: 1 / span 2;
}

.side-product {
  background-color: black;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
   flex-direction: column;
}

.side-product img {
 width: 100%; 
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

/* ===== Product Info ===== */
.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  color: white;
  box-sizing: border-box;
}

.shop-btn {
  margin-top: 5px;
  padding: 6px 12px;
  background: none;
  color: white;
  text-decoration: underline;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* ============================
   Responsive
=============================== */

@media (max-width: 992px) {
  .arrival-grid {
    grid-template-columns: 1fr;
  }

  .side-products {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .side-product:nth-child(1) {
    grid-column: auto;
  }
}

@media (max-width: 768px) {
  .side-products {
    grid-template-columns: 1fr;
  }

  .side-product {
    min-height: 250px;
  }
}

@media (max-width: 576px) {
  .main-product .product-info h3,
  .side-product .product-info h4 {
    font-size: 1rem;
  }

  .main-product img,
  .side-product img {
    height: 250px;
    object-fit: cover;
  }
}
