.product-grid {
  padding: 2rem 0;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.title-row {
  display: flex;
  justify-content: space-between; /* العنوان على الشمال والزراير على اليمين */
  align-items: center;
  width: 100%;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
}

.btn-view-all {
  background: #db4444;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.cat-label {
  color: #db4444;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

.product-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.product-image-container {
  background: #f5f5f5;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 1rem; 
}

.product-img {
  max-height: 170px;
  object-fit: contain;
  transition: 0.3s;
}

.product-card:hover .product-img {
  transform: scale(1.03);
}

.icons-overlay {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 10;
}

.product-card:hover .icons-overlay {
  opacity: 1;
}

.icon-btn {
  background: white;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
}

.btn-add-to-cart {
  background: black;
  color: white;
  border: none;
  width: calc(100% - 2rem);
  padding: 10px;
  margin-left: 15px;
  border-radius: 6px;
  bottom: -50px;
  opacity: 0;
  transition: 0.4s ease;
}

.product-card:hover .btn-add-to-cart {
  opacity: 1;
  bottom: 10px;
}

.product-info {
  margin-top: 0.5rem; 
  position: relative;
}

.product-name {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.product-price {
  color: #db4444;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.swiper-buttons .arrow-btn {
  background: #fff;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

